/* Edge-Frfox - content/common.css */

/* colours */
@-moz-document url-prefix(about:) {
  :root {
    --in-content-page-color: #252525 !important;
    --in-content-page-background: #f7f7f7 !important;
    --in-content-deemphasized-text: #666 !important;
    --in-content-box-background: #fff !important;
    --in-content-box-background-odd: rgba(0, 0, 0, 0.05) !important;
    --in-content-box-info-background: #f7f7f7 !important;
    --in-content-icon-color: #666 !important;
    --in-content-accent-color: #006CBE !important;
    --in-content-accent-color-active: #1683D8 !important;
    --in-content-border-hover: rgba(0, 0, 0, 0.5) !important;
    --in-content-border-invalid: var(--red-50) !important;
    --in-content-border-color: #bebebe !important;
    --in-content-error-text-color: #FF848A !important;
    --in-content-link-color: #0078D4 !important;
    --in-content-link-color-hover: #006CBE !important;
    --in-content-link-color-active: #0749AC !important;
    --in-content-link-color-visited: #0078D4 !important;
    --in-content-button-text-color: var(--in-content-text-color) !important;
    --in-content-button-text-color-hover: var(--in-content-text-color) !important;
    --in-content-button-text-color-active: var(--in-content-button-text-color-hover) !important;
    --in-content-button-background: #EDEDED !important;
    --in-content-button-background-hover: #e5e5e5 !important;
    --in-content-button-background-active: #d5d5d5 !important;
    --in-content-primary-button-text-color: #fff !important;
    --in-content-primary-button-background: #0061e0 !important;
    --in-content-primary-button-background-hover: #0250bb !important;
    --in-content-primary-button-background-active: #053e94 !important;
    --in-content-danger-button-background: #DF4951 !important;
    --in-content-danger-button-background-hover: #EA656C !important;
    --in-content-danger-button-background-active: #BB353C !important;
    --in-content-focus-outline-color: color-mix(in srgb, #0055D7 50%, transparent) !important;
    --in-content-table-background: #f7f7f7 !important;
    --in-content-text-color: var(--in-content-page-color) !important;
    scrollbar-color: rgba(37, 37, 37, 0.4) #f7f7f7 !important;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --in-content-page-background: #252525 !important;
      --in-content-page-color: #fff !important;
      --in-content-deemphasized-text: #bbb !important;
      --in-content-box-background: #333 !important;
      --in-content-box-background-odd: rgba(255, 255, 255, 0.05) !important;
      --in-content-box-info-background: rgba(255, 255, 255, 0.15) !important;
      --in-content-border-color: rgba(255, 255, 255, 0.2) !important;
      --in-content-border-hover: rgba(255, 255, 255, 0.3) !important;
      --in-content-border-invalid: rgb(255, 132, 139) !important;
      --in-content-error-text-color: #FF9AA2 !important;
      --in-content-button-background: #3B3B3B !important;
      --in-content-button-background-hover: #545454 !important;
      --in-content-button-background-active: #606060 !important;
      --in-content-icon-color: #fff !important;
      --in-content-primary-button-text-color: #fff !important;
      --in-content-primary-button-background: #006CBE !important;
      --in-content-primary-button-background-hover: #0078D4 !important;
      --in-content-primary-button-background-active: #005CA3 !important;
      --in-content-danger-button-background: #E12424 !important;
      --in-content-danger-button-background-hover: #F94343 !important;
      --in-content-danger-button-background-active: #AA1E1E !important;
      --in-content-focus-outline-color: #63ADE5 !important;
      --in-content-table-background: #252525 !important;
      --in-content-accent-color: #75B6E8 !important;
      --in-content-accent-color-active: #4C98D1 !important;
      --in-content-link-color: #75B6E8 !important;
      --in-content-link-color-hover: #63ADE5 !important;
      --in-content-link-color-active: #4C98D1 !important;
      --in-content-link-color-visited: var(--in-content-link-color) !important;
      --card-outline-color: #555 !important;
      --dialog-warning-text-color: var(--red-40) !important;
      scrollbar-color: rgba(255, 255, 255, .4) #252525 !important;
    }
  }
}

/* preferences */
@-moz-document url-prefix(about:preferences),
url-prefix(about:addons) {
  .category[selected] {
    position: relative !important;
    border-radius: 4px !important;
  }

  .category[selected]:not(:hover, :active) {
    background-color: var(--in-content-button-background) !important;
  }

  .category[selected]::before {
    content: "";
    display: block;
    height: 24px;
    width: 3px;
    background-color: var(--in-content-accent-color);
    border-radius: 3px;
    position: absolute;
    left: 2px;
    top: 50%;
    translate: 0 -50%;
  }

  button.tab-button:hover {
    border-block-color: transparent var(--in-content-box-border-color) !important;
  }

  button.tab-button[selected],
  button.tab-button[selected]:hover {
    border-block-color: transparent currentColor !important;
  }
}

/* fix page flashes when loading some websites */
@-moz-document url(about:blank) {
  body {
    background: var(--in-content-page-background);
    color: var(--in-content-page-color);
  }
}
