/* EdgeFr-Fox by bmFtZQ - icons.css */

/* windows 11 style window controls (no known way to detect between windows 10
and 11 so applied to both) */
@media (-moz-windows-compositor) {
  .titlebar-min {
    list-style-image: url("win11-minimize.svg") !important;
  }

  .titlebar-max {
    list-style-image: url("win11-maximize.svg") !important;
  }

  .titlebar-restore {
    list-style-image: url("win11-restore.svg") !important;
  }

  .titlebar-close {
    list-style-image: url("win11-close.svg") !important;
  }

  /* darkmode icon that uses thicker strokes and easier to see (only needed at
  1x scale) */
  @media (max-resolution: 1dppx) {
    :root[lwthemetextcolor="bright"] .titlebar-close,
    .titlebar-close:hover {
      list-style-image: url("win11-close-dark.svg") !important;
    }
  }
}

#appMenu-multiView .subviewbutton,
#overflowMenu-customize-button {
  -moz-context-properties: fill, fill-opacity !important;
  fill: currentColor !important;
}

/* disable context menu icons on macOS */
@supports not -moz-bool-pref("layout.css.osx-font-smoothing.enabled") {
  #context-back {
    list-style-image: url("back.svg") !important;
  }

  #context-forward {
    list-style-image: url("forward.svg") !important;
  }

  #context-reload {
    list-style-image: url("reload.svg") !important;
  }

  #context-stop {
    list-style-image: url("close.svg") !important;
  }

  #context-bookmarkpage {
    list-style-image: url("bookmark-hollow.svg") !important;
  }

  #context-bookmarkpage[starred] {
    list-style-image: url("bookmark.svg") !important;
  }
}

#back-button {
  list-style-image: url("back.svg") !important;
}

#forward-button {
  list-style-image: url("forward.svg") !important;
}

#reload-button {
  list-style-image: url("reload.svg") !important;
}

#stop-button,
.close-icon {
  list-style-image: url("close.svg") !important;
}

.tab-close-button {
  list-style-image: url("close-9px.svg") !important;
}

#sidebar-button {
  list-style-image: url("sidebars-right.svg") !important;
}

#sidebar-button:-moz-locale-dir(ltr):not([positionend]),
#sidebar-button:-moz-locale-dir(rtl)[positionend] {
  list-style-image: url("sidebars.svg") !important;
}

#downloads-button,
#downloads-indicator-anchor,
#appMenu-downloads-button {
  list-style-image: url("downloads.svg") !important;
}

#appMenu-passwords-button,
#PopupAutoComplete > richlistbox > richlistitem[originaltype="generatedPassword"] > .two-line-wrapper > .ac-site-icon,
#PopupAutoComplete > richlistbox > richlistitem[originaltype="loginWithOrigin"] > .two-line-wrapper > .ac-site-icon,
#PopupAutoComplete > richlistbox > richlistitem[originaltype="login"] > .ac-site-icon {
  list-style-image: url("passwords.svg") !important;
}

#nav-bar-overflow-button {
  list-style-image: url("chevron.svg") !important;
}

#PanelUI-menu-button,
#appMenu-more-button2 {
  list-style-image: url("menu.svg") !important;
}

#appMenu-help-button2 {
  list-style-image: url("help.svg") !important;
}

#new-tab-button {
  list-style-image: url("new-tab.svg") !important;
}

#sync-button,
.urlbarView-row[source="tabs"]>.urlbarView-row-inner>.urlbarView-no-wrap>.urlbarView-favicon,
#urlbar-engine-one-off-item-tabs {
  list-style-image: url("tab.svg") !important;
}

#history-panelmenu,
.urlbarView-row[source="history"]>.urlbarView-row-inner>.urlbarView-no-wrap>.urlbarView-favicon,
#urlbar-engine-one-off-item-history,
#appMenu-history-button {
  list-style-image: url("history.svg") !important;
}

#save-page-button,
#appMenu-save-file-button2 {
  list-style-image: url("save.svg") !important;
}

#print-button,
#appMenu-print-button2 {
  list-style-image: url("print.svg") !important;
}

#find-button,
.searchbar-search-icon,
#appMenu-find-button2 {
  list-style-image: url("search-glass.svg") !important;
}

#open-file-button {
  list-style-image: url("open.svg") !important;
}

#add-ons-button,
#appMenu-extensions-themes-button {
  list-style-image: url("extension.svg") !important;
}

#zoom-out-button,
#appMenu-zoomReduce-button2 {
  list-style-image: url("zoom-out.svg") !important;
}

#zoom-in-button,
#tabs-newtab-button,
#TabsToolbar #new-tab-button,
#appMenu-zoomEnlarge-button2 {
  list-style-image: url("plus.svg") !important;
}

#cut-button {
  list-style-image: url("edit-cut.svg") !important;
}

#copy-button {
  list-style-image: url("edit-copy.svg") !important;
}

#paste-button {
  list-style-image: url("edit-paste.svg") !important;
}

#email-link-button {
  list-style-image: url("mail.svg") !important;
}

#screenshot-button {
  list-style-image: url("screenshot.svg") !important;
}

#preferences-button,
.search-setting-button>.button-box>.button-icon,
#appMenu-settings-button {
  list-style-image: url("settings.svg") !important;
}

#panic-button {
  list-style-image: url("forget.svg") !important;
}

#privatebrowsing-button,
#appMenu-new-private-window-button2 {
  list-style-image: url("privateBrowsing.svg") !important;
}

#save-to-pocket-button {
  list-style-image: url("pocket-outline.svg") !important;
}

#profiler-button-button>.toolbarbutton-icon,
.subviewbutton[label="Task Manager"] {
  list-style-image: url("tool-profiler.svg") !important;
}

#developer-button {
  list-style-image: url("developer.svg") !important;
}

#new-window-button,
#appMenu-new-window-button2 {
  list-style-image: url("window.svg") !important;
}

#restore-button,
#fullscreen-button,
#appMenu-fullscreen-button2 {
  list-style-image: url("fullscreen.svg") !important;
}

#restore-button[checked],
#fullscreen-button[checked],
#appMenu-fullscreen-button2[checked] {
  list-style-image: url("fullscreen-exit.svg") !important;
}

#bookmarks-menu-button,
#appMenu-bookmarks-button {
  list-style-image: url("bookmark-star-on-tray.svg") !important;
}

#home-button {
  list-style-image: url("home.svg") !important;
}

#library-button {
  list-style-image: url("library.svg") !important;
}

/* identity icons */
#identity-icon {
  list-style-image: url("info.svg") !important;
}

#identity-box[pageproxystate="valid"].chromeUI #identity-icon {
  list-style-image: url("firefox.svg") !important;
}

#identity-box[pageproxystate="valid"].localResource #identity-icon {
  list-style-image: url("page-portrait.svg") !important;
}

#urlbar:not(.searchButton)>#urlbar-input-container>#identity-box[pageproxystate="invalid"] #identity-icon {
  list-style-image: url("search-glass.svg") !important;
}

#urlbar[actiontype="extension"]>#urlbar-input-container>#identity-box #identity-icon,
#identity-box[pageproxystate="valid"].extensionPage #identity-icon {
  list-style-image: url("extension.svg") !important;
}

#identity-box[pageproxystate="valid"].verifiedDomain #identity-icon,
#identity-box[pageproxystate="valid"].mixedActiveBlocked #identity-icon {
  list-style-image: url("security.svg") !important;
}

#urlbar-input-container[pageproxystate="valid"]>#tracking-protection-icon-container>#tracking-protection-icon-box>#tracking-protection-icon {
  list-style-image: url("tracking-protection.svg") !important;
}

/* security */
.identity-popup-security-connection {
  background-image: url("security-broken.svg") !important;
}

#identity-box[pageproxystate="valid"].notSecure #identity-icon,
#identity-box[pageproxystate="valid"].mixedActiveContent #identity-icon,
#identity-box[pageproxystate="valid"].httpsOnlyErrorPage #identity-icon {
  list-style-image: url("security-broken.svg") !important;
}

#identity-popup[connection=chrome] .identity-popup-security-connection {
  background-image: url("firefox.svg") !important;
}

#identity-popup[connection="file"] .identity-popup-security-connection {
  background-image: url("page-portrait.svg") !important;
}

#identity-popup[connection^=secure] .identity-popup-security-connection {
  background-image: url("security.svg") !important;
}

#identity-popup[ciphers=weak] .identity-popup-security-connection,
#identity-popup[mixedcontent~=passive-loaded][isbroken] .identity-popup-security-connection,
#identity-popup[connection=secure-cert-user-overridden] .identity-popup-security-connection,
#identity-popup[connection=cert-error-page] .identity-popup-security-connection {
  background-image: url("security-warning.svg") !important;
}

#identity-popup[connection=net-error-page] .identity-popup-security-connection {
  background-image: url("info.svg") !important;
}

#identity-popup[connection=extension] .identity-popup-security-connection {
  background-image: url("extension.svg") !important;
}

#appMenu-new-tab-button2 {
  list-style-image: url("new-tab-image.svg") !important;
}

.findbar-find-previous {
  list-style-image: url("arrow-up.svg") !important;
}

.findbar-find-next {
  list-style-image: url("arrow-down.svg") !important;
}

#protections-popup-mainView .subviewbutton-nav:not(.notFound)::after,
#identity-popup-mainView .subviewbutton-nav::after,
.widget-overflow-list .subviewbutton-nav::after,
.PanelUI-subView .subviewbutton-nav::after,
.menu-right {
  content: url("arrow-right.svg") !important;
}

#PlacesChevron,
#urlbar-go-button {
  list-style-image: url("arrow-right.svg") !important;
}

#overflowMenu-customize-button,
#appmenu-moreTools-button {
  list-style-image: url("customize.svg") !important;
}

.bookmark-item[container] {
  list-style-image: url("folder.svg") !important;
}

#pageAction-panel-bookmark,
#star-button {
  list-style-image: url("bookmark-hollow.svg") !important;
}

#pageAction-panel-bookmark[starred],
#star-button[starred] {
  list-style-image: url("bookmark.svg") !important;
}

/* tab icons */
.tab-icon-image[src="chrome://branding/content/icon32.png"],
.tab-icon-image[src="chrome://global/skin/icons/settings.svg"],
.tab-icon-image[src="chrome://mozapps/skin/extensions/extension.svg"],
.tab-icon-image[src="chrome://browser/skin/customize.svg"],
.tab-icon-image[src="chrome://browser/skin/privatebrowsing/favicon.svg"] {
  padding-left: 16px !important;
  box-sizing: border-box !important;
}

.tab-icon-image[src="chrome://branding/content/icon32.png"],
.tab-icon-image[src="chrome://browser/skin/privatebrowsing/favicon.svg"] {
  background: url("new-tab-image.svg") !important;
}

.tab-icon-image[src="chrome://global/skin/icons/settings.svg"] {
  background: url("settings.svg") !important;
}


.tab-icon-image[src="chrome://mozapps/skin/extensions/extension.svg"] {
  background: url("extension.svg") !important;
}

.tab-icon-image[src="chrome://browser/skin/customize.svg"] {
  background: url("customize.svg") !important;
}

/* permissions */
#permissions-granted-icon {
  list-style-image: url("permissions.svg") !important;
}

.geo-icon {
  list-style-image: url("geo.svg") !important;
}

.geo-icon.blocked-permission-icon {
  list-style-image: url("geo-blocked.svg") !important;
}

.xr-icon {
  list-style-image: url("xr.svg") !important;
}

.xr-icon.blocked-permission-icon {
  list-style-image: url("xr-blocked.svg") !important;
}

.popup-notification-icon[popupid="web-notifications"],
.desktop-notification-icon {
  list-style-image: url("desktop-notification.svg") !important;
}

.desktop-notification-icon.blocked-permission-icon {
  list-style-image: url("desktop-notification-blocked.svg") !important;
}

.camera-icon {
  list-style-image: url("camera.svg") !important;
}

.camera-icon.blocked-permission-icon {
  list-style-image: url("camera-blocked.svg") !important;
}

.microphone-icon {
  list-style-image: url("microphone.svg") !important;
}

.microphone-icon.blocked-permission-icon {
  list-style-image: url("microphone-blocked.svg") !important;
}

.screen-icon {
  list-style-image: url("screen.svg") !important;
}

.screen-icon.blocked-permission-icon {
  list-style-image: url("screen-blocked.svg") !important;
}

.popup-notification-icon[popupid="persistent-storage"],
.persistent-storage-icon {
  list-style-image: url("persistent-storage.svg") !important;
}

.persistent-storage-icon.blocked-permission-icon {
  list-style-image: url("persistent-storage-blocked.svg") !important;
}

.popup-icon {
  list-style-image: url("popup.svg") !important;
}

.autoplay-media-icon {
  list-style-image: url("autoplay-media.svg") !important;
}

.autoplay-media-icon.blocked-permission-icon {
  list-style-image: url("autoplay-media-blocked.svg") !important;
}

#canvas-notification-icon,
.popup-notification-icon[popupid="canvas-permissions-prompt"],
.canvas-icon {
  list-style-image: url("canvas.svg") !important;
}

.canvas-icon.blocked-permission-icon {
  list-style-image: url("canvas-blocked.svg") !important;
}

.midi-icon,
.midi-sysex-icon,
.popup-notification-icon[popupid="midi"],
.popup-notification-icon[popupid="midi-sysex"] {
  list-style-image: url("midi.svg") !important;
}

.install-icon {
  list-style-image: url("extension.svg") !important;
}

.install-icon.blocked-permission-icon,
.popup-notification-icon[popupid="xpinstall-disabled"],
.popup-notification-icon[popupid="addon-install-blocked"],
.popup-notification-icon[popupid="addon-install-origin-blocked"] {
  list-style-image: url("extension-blocked.svg") !important;
}

/* tab sound icons */
.tab-icon-overlay[soundplaying] {
  list-style-image: url("tab-audio-playing-small.svg") !important;
}

.tab-icon-overlay[muted] {
  list-style-image: url("tab-audio-muted-small.svg") !important;
}

.tab-icon-overlay[activemedia-blocked] {
  list-style-image: url("tab-audio-blocked-small.svg") !important;
}

/* reload/stop animation */
#stop-reload-button[animate]>#reload-button[displaystop]+#stop-button>.toolbarbutton-animatable-box>.toolbarbutton-animatable-image {
  background-image: url("reload-to-stop.svg") !important;
}

#stop-reload-button[animate]>#reload-button>.toolbarbutton-animatable-box>.toolbarbutton-animatable-image {
  background-image: url("stop-to-reload.svg") !important;
}
