#nav-bar
{
	min-height: 38px !important;
	box-shadow: none !important;
	padding-inline: 5px 6px !important;
	background-color: var(--toolbar-bgcolor) !important;
}

#reload-button[disabled]:not(:-moz-window-inactive) > .toolbarbutton-icon
{
	opacity: 1 !important;
}

.toolbarbutton-badge
{
	box-shadow: 0 0 0 1px #0001 !important;
	margin: 10px 0 0 !important;
	margin-inline-end: -6px !important;
}

#nav-bar .toolbarbutton-badge
{
	box-shadow: 0 0 0 1px var(--toolbar-bgcolor) !important;
	margin: 10px 0 0 !important;
	margin-inline-end: -6px !important;
}

panel .toolbarbutton-badge
{
	box-shadow: 0 0 0 1px var(--arrowpanel-background) !important;
}

/* Windows */
#PanelUI-button
{
	border: none !important;
	margin: 0 !important;
	padding: 0 !important;
}

#PanelUI-menu-button[badge-status|="update"] .toolbarbutton-badge
{
	display: none !important;
}

:root[privatebrowsingmode] #fxa-toolbar-menu-button
{
	pointer-events: none !important;
}

#navigator-toolbox #fxa-toolbar-menu-button {
	margin-inline: 5px !important;
	border-radius: 99px !important;
	margin-block: -2px !important;
}

#navigator-toolbox #fxa-toolbar-menu-button > :-moz-any(.toolbarbutton-icon, .toolbarbutton-badge-stack)
{
	width: 30px !important;
	height: 30px !important;
}

#navigator-toolbox #fxa-toolbar-menu-button > :-moz-any(.toolbarbutton-icon, .toolbarbutton-badge-stack)
{
	padding: 3px !important;
	background: 0 !important;
}

#fxa-avatar-image {
	width: 24px !important;
	height: 24px !important;
}

/* show "Private" label for en languages only */
:root[privatebrowsingmode] #fxa-toolbar-menu-button::before
{
	content: "Private" !important;
	display: -moz-box !important;
	margin-inline-start: 12px !important;
	margin-inline-end: 6px !important;
}
:root[privatebrowsingmode] #navigator-toolbox #fxa-toolbar-menu-button {
	background-color: var(--private-browsing-indicator) !important;
	color: white !important;
	margin-inline: 0 !important;
}

#nav-bar-customization-target
{
	overflow: visible !important;
}
