/* Edge Style Tabs */
#nav-bar {
  box-shadow: 0 -1px 2px -1px #0004 !important;
}
:root[lwthemetextcolor="bright"] #nav-bar {
  box-shadow: 0 -1px 2px -1px #0006 !important;
}
.tabbrowser-tab[visuallyselected] .tab-background {
  box-shadow: 0 2px 4px #0005, 0 -1px 2px -1px #0004 !important;
}
:root[lwthemetextcolor="bright"] .tabbrowser-tab[visuallyselected] .tab-background, :root[lwthemetextcolor="bright"] {
  box-shadow: 0 2px 4px #0007, 0 -1px 2px -1px #0006 !important;
}
#TabsToolbar > .toolbar-items {
  padding-top: 0 !important;
}

#TabsToolbar:not([inFullscreen]) :-moz-any(#tabbrowser-tabs, #tabbrowser-arrowscrollbox, #tabbrowser-tabs[positionpinnedtabs] > #tabbrowser-arrowscrollbox > .tabbrowser-tab[pinned]) {
  min-height: calc(var(--tab-min-height) + var(--space-above-tabbar)) !important;
}
#TabsToolbar:not([inFullscreen]) :-moz-any(#tabbrowser-tabs #tabs-newtab-button, #TabsToolbar-customization-target > toolbarbutton, #scrollbutton-up, #scrollbutton-down) {
  max-height: 32px !important;
}
#TabsToolbar:not([inFullscreen]) :-moz-any(.tabbrowser-tab, #tabbrowser-tabs #tabs-newtab-button) {
  margin-top: var(--space-above-tabbar) !important;
}
#TabsToolbar:not([inFullscreen]) #TabsToolbar-customization-target > toolbarbutton {
  transform: translateY(var(--space-above-tabbar)) !important;
}
#TabsToolbar:not([inFullscreen]) :-moz-any(toolbarbutton:not(.titlebar-button), .tabbrowser-arrowscrollbox::part(scrollbutton-up), .tabbrowser-arrowscrollbox::part(scrollbutton-down), #scrollbutton-up[part="scrollbutton-up"]:not(.menupopup-scrollbutton), #scrollbutton-down[part="scrollbutton-down"]:not(.menupopup-scrollbutton)) {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}