findbar {
  background: var(--toolbar-bgcolor) !important;
  border-top-color: var(--chrome-content-separator-color) !important;
  color: var(--toolbar-color) !important;
}

.findbar-find-previous {
  list-style-image: url(../icons/chevron-up.svg) !important;
}

.findbar-find-next {
  list-style-image: url(../icons/chevron-down.svg) !important;
}

.findbar-textbox {
  color: inherit !important;
  background-color: transparent !important;
  background-image: url(../icons/search.svg) !important;
  background-repeat: no-repeat !important;
  background-position: 5px center !important;
  fill-opacity: 1 !important;
  border: 0 !important;
  box-shadow: none !important;
  margin-inline-start: 2px !important;
  padding-inline-start: 28px !important;
}

hbox[anonid="findbar-textbox-wrapper"] {
  background-color: var(--toolbar-field-background-color) !important;
  color: var(--lwt-toolbar-field-color) !important;
  border-radius: 4px !important;
  position: relative !important;
  display: flex !important;
  padding: 2px !important;
  height: 28px !important;
  transition: background-color .1s var(--ease-basic) !important;
  box-shadow: 0 1px 5px 0 #0001 !important;
}

hbox[anonid="findbar-textbox-wrapper"]:hover:not(:focus-within) {
  background-color: var(--toolbar-field-hover-background-color) !important;
  box-shadow: 0 0 0 1px inset var(--toolbar-field-hover-border-color) !important;
}

hbox[anonid="findbar-textbox-wrapper"]:focus-within {
  background-color: var(--toolbar-field-focus-background-color) !important;
  color: var(--lwt-toolbar-field-focus-color) !important;
  box-shadow: 0 0 0 1px inset var(--toolbar-field-focus-border-color), 0 0 0 1px var(--toolbar-field-focus-border-color) !important;
}

hbox[anonid="findbar-textbox-wrapper"] toolbarbutton {
  border-radius: 4px !important;
  border: 0 !important;
  width: 24px !important;
  height: 24px !important;
  padding: 0 !important;
  display: flex !important;
  background: 0 !important;
  transition: background-color .2s var(--ease-basic) !important;
  margin: 0 !important;
  box-shadow: none !important;
}

hbox[anonid="findbar-textbox-wrapper"] toolbarbutton[disabled] {
  display: none !important;
}

hbox[anonid="findbar-textbox-wrapper"] toolbarbutton .toolbarbutton-text {
  visibility: collapse !important;
}

hbox[anonid="findbar-textbox-wrapper"] toolbarbutton:not([disabled]):hover {
  background-color: var(--toolbarbutton-hover-background) !important;
}

hbox[anonid="findbar-textbox-wrapper"] toolbarbutton:not([disabled]):hover:active {
  background-color: var(--toolbarbutton-active-background) !important;
  transition-duration: 0 !important;
}
