/* EdgeFr-Fox by bmFtZQ - navbar.css */

:root {
  --toolbarbutton-border-radius: 2px !important;
  --toolbarbutton-inner-padding: 7px !important;
  --uc-toolbarbutton-inner-inline-padding: 12px !important;
  --tabs-navbar-shadow-size: 0 !important;
}

#nav-bar .toolbarbutton-1>.toolbarbutton-icon {
  width: calc(2 * var(--uc-toolbarbutton-inner-inline-padding) + 16px) !important;
}

#nav-bar .toolbarbutton-1>.toolbarbutton-icon,
#nav-bar .toolbarbutton-1>.toolbarbutton-text,
#nav-bar .toolbarbutton-1>.toolbarbutton-badge-stack {
  padding-inline: var(--uc-toolbarbutton-inner-inline-padding) !important;
}

/* move reload/stop icon to middle of button */
#reload-button>.toolbarbutton-animatable-box,
#stop-button>.toolbarbutton-animatable-box {
  top: calc(50% - 10px) !important;
  margin-inline-start: calc((16px + 2 * var(--uc-toolbarbutton-inner-inline-padding) - 20px) / 2) !important;
}

#nav-bar-customization-target :where(#reload-button, #stop-button)>.toolbarbutton-icon {
  padding: var(--toolbarbutton-inner-padding) var(--uc-toolbarbutton-inner-inline-padding) !important;
}

/* account button */
#navigator-toolbox>toolbar #fxa-toolbar-menu-button,
#navigator-toolbox>toolbar #fxa-toolbar-menu-button>.toolbarbutton-badge-stack {
  border-radius: 99px !important;
}

#nav-bar #fxa-toolbar-menu-button>.toolbarbutton-badge-stack {
  padding: var(--toolbarbutton-inner-padding) !important;
  margin-inline: calc(var(--uc-toolbarbutton-inner-inline-padding) - var(--toolbarbutton-inner-padding)) !important;
}

:root[fxastatus="signedin"] #fxa-avatar-image {
  scale: 1.5 !important;
}

:root[privatebrowsingmode] #fxa-toolbar-menu-button::before {
  content: "Private" !important;
  display: -moz-box !important;
  font-size: 12px !important;
}

:root[privatebrowsingmode] #fxa-toolbar-menu-button {
  background: var(--uc-private-browsing-indicator, var(--lwt-toolbarbutton-icon-fill-attention, var(--toolbarbutton-icon-fill-attention))) !important;
  margin: 4px !important;
  padding-inline: 8px 0 !important;
  color: var(--uc-private-browding-indicator-text, var(--toolbar-bgcolor)) !important;
  fill: currentColor !important;
}

:root[privatebrowsingmode] #fxa-toolbar-menu-button:hover {
  background: var(--uc-private-browding-indicator-hover, color-mix(in srgb, var(--lwt-toolbarbutton-icon-fill-attention, var(--toolbarbutton-icon-fill-attention)) 90%, transparent)) !important;
}

:root[privatebrowsingmode] #fxa-toolbar-menu-button:not([disabled=true]):is([open], [checked], :hover:active) {
  background: var(--uc-private-browding-indicator-active, color-mix(in srgb, var(--lwt-toolbarbutton-icon-fill-attention, var(--toolbarbutton-icon-fill-attention)) 70%, transparent)) !important;
}

@media (-moz-gtk-csd-available) {
  :root[privatebrowsingmode] #fxa-toolbar-menu-button:not(:-moz-lwtheme) {
    background: -moz-accent-color !important;
    color: -moz-accent-color-foreground !important;
  }
  
  :root[privatebrowsingmode] #fxa-toolbar-menu-button:not(:-moz-lwtheme):hover {
    background:color-mix(in srgb, black 8%, -moz-accent-color) !important;
  }
  
  :root[privatebrowsingmode] #fxa-toolbar-menu-button:not(:-moz-lwtheme):not([disabled=true]):is([open], [checked], :hover:active) {
    background: color-mix(in srgb, black 16%, -moz-accent-color) !important;
  }
}

:root[privatebrowsingmode] #nav-bar #fxa-toolbar-menu-button>.toolbarbutton-badge-stack {
  background: transparent !important;
  margin-inline: 0 !important;
}

/* button background transition */
@media not (prefers-reduced-motion) {
  .toolbarbutton-1>.toolbarbutton-icon,
  .toolbarbutton-1>.toolbarbutton-text,
  .toolbarbutton-1>.toolbarbutton-badge-stack,
  .bookmark-item:not(menu, menuitem),
  .urlbar-page-action,
  .identity-box-button,
  #tracking-protection-icon-container,
  #fxa-toolbar-menu-button {
    transition: background-color 0.25s ease !important;
  }

  .toolbarbutton-1:not([disabled=true]):is([open],[checked],:hover:active)>.toolbarbutton-icon,
  .toolbarbutton-1:not([disabled=true]):is([open],[checked],:hover:active)>.toolbarbutton-text,
  .toolbarbutton-1:not([disabled=true]):is([open],[checked],:hover:active)>.toolbarbutton-badge-stack,
  .bookmark-item:not(menu, menuitem):not([disabled=true]):is([open],[checked],:hover:active),
  .urlbar-page-action:not([disabled=true]):is([open],[checked],:hover:active),
  .identity-box-button:not([disabled=true]):is([open],[checked],:hover:active),
  #tracking-protection-icon-container:not([disabled=true]):is([open],[checked],:hover:active),
  #fxa-toolbar-menu-button:not([disabled=true]):is([open],[checked],:hover:active) {
    transition-duration: 0s !important;
  }
}
