@import "global/variables.css";
@import "global/global.css";
@import "icons/icons.css";
@import "tabbar/tabbar.css";
@import "navbar/navbar.css";
@import "personalbar/personalbar.css";
@import "popup/popup.css";
@import "urlbar/urlbar.css";
@import "findbar/findbar.css";
@import "tabbar/EdgeStyleTabShadow.css";

#urlbarView-row-162, #urlbarView-row-19, #urlbar .urlbarView .search-one-offs, /* Hide search engine selector on the urlbar dropdown */
#context-sendpagetodevice, #context-sep-sendpagetodevice, /* Hide send page to device menu */
#permissions-granted-icon, #appMenu-fxa-status, toolbarseparator.sync-ui-item, #appMenu-protection-report-button, #appMenu-tp-separator, /* Hide Account and protection dashboard from menu */
#appMenu-edit-controls, .panel-subview-body toolbarseparator:nth-child(12) /* Hide Edit Controls */
{
    display: none !important;
}

/* Swap Account icon and Overflow icon (Must be placed next to each other) */
/*
@media (min-width: 687px) {
    #nav-bar-overflow-button { transform: translateX(-44px); }
    #fxa-toolbar-menu-button { transform: translateX(44px); }
}
*/

/* Replace Firefox identity icon with Edge */
/*
#identity-icon-label { display: none !important; }
#identity-box.chromeUI[pageproxystate="valid"]::after { content: "Edge"; padding-inline-start: 8px; }
#identity-icon { list-style-image: url("icons/edge.svg") !important; }
*/

/* Changelog (DD/MM) */
/* 14-03 / Titlebar buttons no longer squashed on windows */