@import "global/variables.css";
@import "global/global.css";
@import "icons/icons.css";
@import "tabbar/tabbar.css";
@import "navbar/navbar.css";
@import "personalbar/personalbar.css";
@import "popup/popup.css";
@import "urlbar/urlbar.css";
@import "findbar/findbar.css";
@import "tabbar/EdgeStyleTabShadow.css";

/* Optional Extras (uncomment/comment to enable/disable) */

/* @import "extras/vibrancy.css"; */ /* (MACOS ONLY!) Enable window vibrancy behind tabs */
/* @import "extras/hidetoolbarbuttons.css"; */ /* (BUGGY: USE AT OWN RISK!) Hide toolbar buttons other than extensions */
/* @import "extras/swapaccount-overflow.css"; */ /* (BUGGY: USE AT OWN RISK!) Swap Account icon and Overflow icon (must be placed next to each other) */
/* @import "extras/customColorTheme.css"; */ /* Custom Color Theme Template, Modify colors more easily */

/* Display tab-line above tabs */
/*
.tab-line { display: -moz-box !important; }
*/

/* (MACOS ONLY!) Adjust window controls position to make the spacing even */
/*
.titlebar-buttonbox { margin-inline: calc(var(--space-above-tabbar) / 2 + 9px) calc(var(--space-above-tabbar) / 2 + 1px) !important; }
*/

/* Hide scrollbox icons in tabbar */
/*
#scrollbutton-up[part], #scrollbutton-down[part] { display: none !important; }
*/

#urlbarView-row-162, #urlbarView-row-19, #urlbar .urlbarView .search-one-offs, /* Hide search engine selector on the urlbar dropdown */
#context-sendpagetodevice, #context-sep-sendpagetodevice, /* Hide send page to device menu */
#permissions-granted-icon, #appMenu-fxa-status, toolbarseparator.sync-ui-item, #appMenu-protection-report-button, #appMenu-tp-separator, /* Hide Account and protection dashboard from menu */
#appMenu-edit-controls, .panel-subview-body toolbarseparator:nth-child(12) /* Hide Edit Controls */
{ display: none !important; }
