/* EdgeFr-Fox 2 - browser */

@supports (not -moz-bool-pref("uc.tweak.disable-rounded-corners")) {
  :root #browser>#appcontent {
    margin: 1px 3px 3px 3px;
    border-radius: 8px;
    overflow: hidden;
    border: 1.25px solid rgba(0, 0, 0, 0.1);
  }
  
  :root #browser {
    background-color: var(--toolbar-bgcolor);
  }
}
