/* Edge-Frfox - browser.css */

@media (-moz-bool-pref: "uc.tweak.floating-tabs") {
  :root {
    --browser-frame-bgcolor: var(--lwt-accent-color);
  }
}

@media not (-moz-bool-pref: "uc.tweak.floating-tabs") {
  :root {
    --browser-frame-bgcolor: var(--toolbar-bgcolor);
  }
}

@media (-moz-bool-pref: "uc.tweak.rounded-corners") {
  /* Fix changes to the bookmarks bar made in Firefox 120 */
  :root[BookmarksToolbarOverlapsBrowser] .newTabBrowserPanel,
  :root[BookmarksToolbarOverlapsBrowser] #sidebar-box {
    padding-top: 0 !important;
  }

  :root[BookmarksToolbarOverlapsBrowser] #appcontent,
  :root[BookmarksToolbarOverlapsBrowser] #sidebar-box {
    margin-top: var(--bookmarks-toolbar-overlapping-browser-height);
  }

  :root {
    --uc-tweak-rounded-corners-padding: 3px;
    --uc-tweak-rounded-corners-border: 1px solid rgb(0 0 0 / .05);
    --uc-tweak-rounded-corners-radius: 8px;
    --uc-tweak-rounded-corners-shadow: 0px 1px 1px rgb(0 0 0 / .1);

    & #browser:not([style*="--sidebar-border-color"]) {
      --sidebar-border-color: light-dark(#bfbfbf80, #595959) !important;
    }
  }

  /* disable rounded corners in fullscreen, only if the toolbar is hidden */
  :root[inFullscreen] #navigator-toolbox:where([style*="margin-top"], [fullscreenShouldAnimate]) + #browser,
  :root[inDOMFullscreen] #browser {
    --uc-tweak-rounded-corners-padding: 0;
    --uc-tweak-rounded-corners-border: none;
    --uc-tweak-rounded-corners-radius: 0;
    --uc-tweak-rounded-corners-shadow: none;
  }

  #appcontent {
    margin-inline: var(--uc-tweak-rounded-corners-padding) !important;
    margin-block-end: var(--uc-tweak-rounded-corners-padding) !important;
    border-radius: var(--uc-tweak-rounded-corners-radius) !important;
    overflow: hidden !important;
    border: var(--uc-tweak-rounded-corners-border) !important;
    box-shadow: var(--uc-tweak-rounded-corners-shadow) !important;
  }
  
  /* apply rounded corners to sidebar */
  #sidebar-box {
    margin-inline-start: var(--uc-tweak-rounded-corners-padding) !important;
    margin-block-end: var(--uc-tweak-rounded-corners-padding) !important;
    border-radius: var(--uc-tweak-rounded-corners-radius) !important;
    overflow: hidden !important;
    border: var(--uc-tweak-rounded-corners-border) !important;
    box-shadow: var(--uc-tweak-rounded-corners-shadow) !important;
    
    &[positionend] {
      margin-inline-start: 0 !important;
      margin-inline-end: var(--uc-tweak-rounded-corners-padding) !important;
    }
  }

  /* remove sidebar border */
  #sidebar-splitter {
    border-inline-width: 0 !important;
  }

  #browser {
    background-color: var(--browser-frame-bgcolor);
  }
}
