/* Edge-Frfox - tweaks.css */

/* disable drag space above tabs */
@media (-moz-bool-pref: "uc.tweak.disable-drag-space") {
  :root {
    --tab-block-margin: 0px !important;
  }
}

/* force tabs to toolbar bg (useful for proton themes) (might experience some
bugs with certain themes eg. dark text on dark background.) */
@media (-moz-bool-pref: "uc.tweak.force-tab-colour") {
  :root {
    --lwt-selected-tab-background-color: unset !important;
  }
}

/* remove tab separators */
@media (-moz-bool-pref: "uc.tweak.remove-tab-separators") {
  .tabbrowser-tab .tab-stack {
    &::before,
    &::after {
      content: initial !important;
    }
  }
}

@media (-moz-bool-pref: "uc.tweak.floating-tabs") {
  :root:not(:-moz-lwtheme),
  :root[privatebrowsingmode="temporary"][style*="--lwt-accent-color: rgb(28, 27, 34)"] {
    --lwt-accent-color: light-dark(#f3f3f3, #202020) !important;
    --lwt-accent-color-inactive: unset !important;
    --toolbar-bgcolor: light-dark(#fff, #3F3F3F) !important;
    --lwt-tab-text: light-dark(#262626, #fff) !important;
    --chrome-content-separator-color: light-dark(#bfbfbf, #535353) !important;
    --uc-urlbar-shadow: none !important;
    --uc-tab-border-color: light-dark(#0000, #fff1) !important;
    --toolbar-non-lwt-bgcolor: var(--lwt-accent-color) !important;
  }

  @media (-moz-gtk-csd-available) {
    :root:not(:-moz-lwtheme) {
      --toolbar-bgcolor: color-mix(in srgb, -moz-dialog 80%, #fff) !important;
      --toolbar-field-background-color: Field !important;
      --lwt-tab-text: -moz-dialogtext !important;
      --uc-tab-border-color: #ffffff0f !important;
    }
  }

  /* Shadow for navbar and tabs */
  :root {
    --uc-titlebar-shadow: none;
    --uc-tab-shadow:
      0 3.3px 3px rgb(0 0 0 / .06),
      0 0 0 1px rgb(0 0 0 / .11);

    & [brighttext] {
      --uc-titlebar-shadow: none;
      --uc-tab-shadow: 0 1px 2px rgb(0 0 0 / .08);
    }

    & #titlebar {
      --tab-border-radius: 8px !important;
    }
  }

  /* remove toolbar bg */
  #nav-bar,
  #PersonalToolbar {
    background-color: transparent !important;
  }

  /* invert bottom corner radius for tabs */
  .tab-background::before,
  .tab-background::after {
    display: none !important;
  }

  .tab-background {
    border-radius: var(--tab-border-radius) !important;
  }

  .tab-background[selected] {
    outline: 1px solid var(--uc-tab-border-color, var(--lwt-tab-line-color, var(--lwt-tabs-border-color, transparent))) !important;
    outline-offset: -1px !important;
  }

  /* adjust spacing of area above tabs */
  @media not (-moz-platform: macos) {
    :root[sizemode="maximized"] {
      --tab-block-margin: 4px !important;
    }
  }

  :root:is([inFullscreen], :not([tabsintitlebar])) {
    --tab-block-margin: 4px !important;
  }

  @media (-moz-bool-pref: "uc.tweak.disable-drag-space") {
    :root {
      --tab-block-margin: 4px !important;
    }
  }

  /* IMPORTANT: Adds padding and removes margin on top of tabs to allow user to
  select it from the top edge of the window */
  #tabbrowser-tabs {
    margin-top: calc(var(--tab-block-margin) - 4px) !important;

    & .tabbrowser-tab,
    & #tabs-newtab-button {
      padding-top: 4px !important;
    }
  }

  #scrollbutton-up:not(.menupopup-scrollbutton),
  #scrollbutton-down:not(.menupopup-scrollbutton) {
    &,
    & ~ spacer {
      margin-top: 4px !important;
    }
  }

  /* move tab shadow behind urlbar */
  .tabbrowser-tab[visuallyselected="true"],
  #nav-bar {
    z-index: 2 !important;
  }

  /* tab shadow adjustments */
  .tabbrowser-tab {
    overflow-clip-margin: 8px !important;
  }

  #tabbrowser-arrowscrollbox > *,
  #scrollbutton-up:not(.menupopup-scrollbutton),
  #scrollbutton-up:not(.menupopup-scrollbutton) ~ spacer,
  #scrollbutton-down:not(.menupopup-scrollbutton) {
    margin-bottom: 8px !important;
  }

  #tabbrowser-arrowscrollbox {
    margin-bottom: -8px !important;
  }
}

@media not (-moz-platform: macos) {
  @media not (-moz-bool-pref: "uc.tweak.revert-context-menu") {
    @media (-moz-bool-pref: "uc.tweak.vertical-context-navigation") {
      #context-navigation {
        flex-direction: column !important;
      }

      #context-navigation>.menuitem-iconic {
        justify-content: start !important;
      }

      #context-navigation .menu-iconic-text {
        display: flex !important;
      }

      :root,
      :root[lang^="en"] {
        --uc-string-back: "Back";
        --uc-string-forward: "Forward";
        --uc-string-reload: "Reload";
        --uc-string-stop: "Stop";
        --uc-string-bookmark-page: "Bookmark Page";
        --uc-string-edit-bookmark: "Edit Bookmark";
      }

      #context-navigation>#context-back .menu-iconic-text::before {
        content: var(--uc-string-back) !important;
      }

      #context-navigation>#context-forward .menu-iconic-text::before {
        content: var(--uc-string-forward) !important;
      }

      #context-navigation>#context-reload .menu-iconic-text::before {
        content: var(--uc-string-reload) !important;
      }

      #context-navigation>#context-stop .menu-iconic-text::before {
        content: var(--uc-string-stop) !important;
      }

      #context-navigation>#context-bookmarkpage .menu-iconic-text::before {
        content: var(--uc-string-bookmark-page) !important;
      }

      #context-navigation>#context-bookmarkpage[starred] .menu-iconic-text::before {
        content: var(--uc-string-edit-bookmark) !important;
      }
    }
  }
}

@media (-moz-windows-compositor) {
  @media (-moz-bool-pref: "uc.tweak.revert-context-menu") {
    menupopup {
      --panel-color: var(--arrowpanel-color) !important;
      --panel-border-radius: 4px !important;
      --panel-border-color: var(--arrowpanel-border-color) !important;
      --panel-background: var(--arrowpanel-background) !important;
      --menuitem-hover-background-color: var(--panel-item-hover-bgcolor) !important;
      --menu-background-color: var(--arrowpanel-background) !important;
      --menu-color: var(--arrowpanel-color) !important;
      --menuitem-disabled-hover-background-color: #0000 !important;
      --menu-disabled-color: var(--panel-disabled-color) !important;
      --menu-border-color: var(--panel-separator-color) !important;
    }
  }
}

@media (-moz-bool-pref: "uc.tweak.show-tab-close-button-on-hover") {
  #tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([pinned], [selected]):hover .tab-close-button {
    display: flex !important;
  }
}

@media (-moz-bool-pref: "uc.tweak.hide-tabs-bar") {
  :root:not([customizing]) {
    /* Height of navbar, used for determining height and position of window controls */
    --uc-navbar-height: 38px;
    /* Drag space next to the window controls, allows you to move the window more easily */
    --uc-titlebar-drag-space: 40px;

    @media not (-moz-bool-pref: "uc.tweak.hide-tabs-bar.only-when-maximised") {
      /* Set containing block for the window buttons */
      & #titlebar {
        position: relative !important;
      }

      /* Hide the tabs */
      & #TabsToolbar {
        visibility: collapse !important;
        padding-inline-start: 0 !important;
      }

      /* Add some padding to the top of the navbar */
      & #nav-bar {
        padding-top: var(--tab-block-margin) !important;
      }
    }

    /* macOS specific positioning */
    @media (-moz-platform: macos) {
      &[inFullscreen] {
        /* Hide the tabs */
        & #TabsToolbar {
          visibility: collapse !important;
          padding-inline-start: 0 !important;
        }
      }

      @media not (-moz-bool-pref: "uc.tweak.hide-tabs-bar.only-when-maximised") {
        /* Offset navbar contents to make space for the window controls */
        &[tabsintitlebar] #nav-bar:not([inFullscreen]) {
          padding-left: calc(84px + var(--uc-titlebar-drag-space));

          /* Remove the padding from the side of the navbar */
          & #nav-bar-customization-target > :is(toolbarbutton, toolbaritem):first-child {
            padding-inline-start: 0 !important;
          }
        }

        /* Positioning of the window controls */
        #TabsToolbar .titlebar-buttonbox {
          --uc-position: calc((var(--uc-navbar-height) + var(--tab-block-margin)) / 2 - 8px);
          visibility: visible !important;
          position: absolute !important;
          top: var(--uc-position);
          left: var(--uc-position);
          margin: 0 !important;
        }
      }
    }

    /* Windows specific positioning */
    @media (-moz-platform: windows) {
      /* Offset navbar contents to make space for the window controls */
      &:where([inFullscreen], [tabsintitlebar]) #nav-bar {
        padding-right: calc(140px + var(--uc-titlebar-drag-space));

        /* Remove the padding from the side of the navbar */
        & #PanelUI-menu-button {
          padding-inline-end: 0 !important;
        }
      }

      /* Positioning of the window controls */
      & #toolbar-menubar[inactive] + #TabsToolbar .titlebar-buttonbox {
        visibility: visible !important;
        position: absolute !important;
        top: 0;
        right: 0;
        height: calc(var(--uc-navbar-height) + var(--tab-block-margin)) !important;
      }
        
      /* Set background colour of the menu bar to maintain consistency with the navbar */
      @media not (-moz-bool-pref: "uc.tweak.floating-tabs") {
        #toolbar-menubar {
          background-color: var(--toolbar-bgcolor) !important;
        }
      }
    }
  }
}

@media (-moz-bool-pref: "uc.tweak.hide-forward-button") {
  :root:not([customizing]) #forward-button[disabled] {
    display: none !important;
  }
}
